<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>scan-qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">scan-qr</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="qr-scan-area">
    <zxing-scanner 
      (scanSuccess)="onCodeResult($event)" 
      (permissionResponse)="hasPermission = $event">
    </zxing-scanner>
  
    <div *ngIf="qrResult">
      <h3>Resultado del Escaneo:</h3>
      <p>{{ qrResult }}</p>
    </div>
  
    <div *ngIf="!hasPermission">
      <p>Por favor, permite el acceso a la cámara.</p>
    </div>
  </div>
  
</ion-content>
