<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']" ></ion-back-button> <!-- Revisa la ruta -->
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Perfil de {{username}}</h1>
  <div class="ion-text-center">
    <qrcode [qrdata]="qrData" [width]="300" [errorCorrectionLevel]="'H'"></qrcode>
  </div>
</ion-content>
