<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center ion-padding">
  <div>
    <img src="/src/assets/icon/notf_pic.PNG" alt="Error 404" style="width: 200px; margin-top: 50px;">
    <h1>Página no encontrada</h1>
    <p>Lo sentimos, la página que estás buscando no existe.</p>
    <ion-button routerLink="/folder/inbox" color="primary">Volver al inicio</ion-button>
  </div>
</ion-content>
