h3, h1 {
    text-align: center;
}
/* Estilo global para asegurar que las fuentes sean consistentes */
body, ion-title, ion-label, ion-input, ion-card-title, ion-button {
  font-family: 'Arial', sans-serif; /* Ajusta la fuente según tu preferencia */
  font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
}

/* Asegúrate de que los elementos tengan un buen espaciado */
ion-item {
  margin-bottom: 10px;
}

ion-label {
  font-size: 14px; /* Ajusta el tamaño de la fuente para los labels */
}

ion-button {
  font-size: 16px; /* Ajusta el tamaño de la fuente para los botones */
}
  
.perfil-button {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  height: 80%;
  margin: 20%;
}