<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/folder/inbox']" ></ion-back-button> <!-- Revisa la ruta -->
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3>Bienvenido/a</h3>
  <h1>{{ userData?.name }}</h1>
  <h3>a la Página de Inicio</h3>

  <div>
    <ion-button class="perfil-button" color="warning" (click)="goPerfil()">Ir a mi Perfil</ion-button>
  </div>
</ion-content>


