.centrado{
    text-align: center;
}
.button-container {
    padding: 16px;
    text-align: center;
  }
  
  ion-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
  }
  
  .card-title {
    text-align: center;
    font-size: 1.2rem;
  }
  