<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <!-- Nombre -->
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="user.name" ></ion-input>
        </ion-item>

        <!-- Apellidos -->
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input [(ngModel)]="user.surname" ></ion-input>
        </ion-item>

        <!-- Edad -->
        <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input [(ngModel)]="user.age" type="number" ></ion-input>
        </ion-item>

        <!-- Ocupación -->
        <ion-item>
          <ion-label>Selecciona tu categoria</ion-label>
          <ion-select [(ngModel)]="user.level" placeholder="Seleccione su nivel">
            <ion-select-option value="docente">Docente</ion-select-option>
            <ion-select-option value="estudiante">Estudiante</ion-select-option>
            <ion-select-option value="otro">Otro</ion-select-option>
          </ion-select>
        </ion-item>
        
        <!-- Correo -->
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="user.mail" type="email" ></ion-input>
        </ion-item>
        <!-- Contraseña -->
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="user.password" type="password" ></ion-input>
        </ion-item>

        <!-- Se valida que las 2 contraseñas sean iguales -->
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="user.password2" type="password" ></ion-input>
        </ion-item>

        <!-- Botón de registro -->
        <ion-item>
          <ion-button expand="full" color="primary" (click)="register()">Registrarse</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
